.index{
    display: flex;
    width: 400px;
    height: 450px;
    align-items: center;
    justify-content: center;
    border: none;
}


#app{
    
        
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}